<div ng-controller="HomeCtrl as home" >
<h1 class="room-name">{{ home.activeRoom.$value }}</h1>
    <div>
        <div class="message-instance" ng-repeat="message in home.messages">
            <div style="font-weight:bold;">{{message.userName}}</div>
            <div>{{message.content}}</div>
            <div>{{message.SentAt | date : "shortDate"}} </div>
        </div>
    </div>
    <div class="input-message">
        Message: <input type="text" ng-model="newmessage.content">
        <button class= "btn btn-info" ng-click="home.createMessage(newmessage)">Send a message</button>
    </div>
</div>
